/* >csvファイル選択 */
.file-btn {
    display: inline-block;
    width: 95%;
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: #b05c01;
    cursor: pointer;
    text-align:center;
}
.file-btn input {
    display: none;
}

/* >他のボタン */
.BT{
 display: inline-block;
    width: 95%;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
    color: #ffffff;
    background: #b05c01;
    user-select: none;
}

.txt{
 display: inline-block;
    width: 95%;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
 
}

input:focus, select:focus, textarea:focus {
    background-color: #bde9ba;
}

html {
    padding: 1; 
    margin: 1;
} 

h1 {
    width: 95%;
color: #b05c01;
 text-align:center;
} 

body{
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

